@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: 'Questrial', sans-serif;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}


aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #C2185B;
}


.btn {
    margin: 1.5px;
}


.btn-primary {
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full {
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

.btn-primary {
    background-color: #C2185B;
    border-color: #C2185B;
}

main .d-flex {
    display: flex;
    justify-content: center;
}

/* footer nav ul {
    list-style: none;
    display: flex;
}

footer nav ul li {
    padding: 10px;
} */


@media (max-width: 320px) {


    header img {
        width: 200px;
    }

    section.full {
        min-height: 30vh;
    }

    section.full .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.full:nth-child(3)>div:nth-child(1) .col {
        width: 280px;
        padding-top: 30px;
    }

    section.full:nth-child(3)>div:nth-child(1) .row {
        display: flex;
        flex-direction: column;
    }

    div.col:nth-child(2)>img:nth-child(1) {
        display: none;
    }

    footer .container {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .container a img {
        width: 100px;
    }

    footer .container nav ul {
        display: flex;
        flex-direction: column;
    }

    footer .container nav ul li {
        padding: 5px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    header img {
        width: 250px;
    }

    section.full {
        min-height: 30vh;
    }

    section.full .text-center h1 {
        max-width: 300px;
    }

    section.full .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.full:nth-child(3)>div:nth-child(1) .col {
        width: 330px;
        padding-top: 30px;
    }

    section.full:nth-child(3)>div:nth-child(1) .row {
        display: flex;
        flex-direction: column;
    }

    div.col:nth-child(2)>img:nth-child(1) {
        display: none;
    }

    footer .container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .container a img {
        width: 130px;
    }

    footer .container nav ul {
        display: flex;
        flex-direction: column;
    }

    footer .container nav ul li {
        padding: 5px;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    header img {
        width: 270px;
    }

    section.full {
        min-height: 30vh;
    }

    section.full .text-center h1 {
        max-width: 365px;
    }

    section.full .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.full:nth-child(3)>div:nth-child(1) .col {
        width: 330px;
        padding-top: 30px;
    }

    section.full:nth-child(3)>div:nth-child(1) .row {
        display: flex;
        flex-direction: column;
    }

    div.col:nth-child(2)>img:nth-child(1) {
        display: none;
    }

    footer .container {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .container a img {
        width: 180px;
    }

    footer .container nav ul {
        display: flex;
        flex-direction: column;
    }

    footer .container nav ul li {
        padding: 5px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    section.full {
        min-height: 50vh;
    }

    section.full .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    article.evento {
        width: 650px;
    }

    section.full:nth-child(3)>div:nth-child(1) .col {
        width: 680px;
        padding-top: 30px;
    }

    section.full:nth-child(3)>div:nth-child(1) .row {
        display: flex;
        flex-direction: column;
    }

    footer .container a img {
        width: 200px;
    }

    footer .container nav ul {
        display: flex;
        flex-direction: column;

    }
}